@font-face {
  font-family: "iconfont"; /* Project id 4163252 */
  src: url('iconfont.woff2?t=1698299346345') format('woff2'),
       url('iconfont.woff?t=1698299346345') format('woff'),
       url('iconfont.ttf?t=1698299346345') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e6c6";
}

.icon-weibo:before {
  content: "\e8bb";
}

.icon-feiji:before {
  content: "\e6dc";
}

.icon-pifating:before {
  content: "\e6dd";
}

.icon-qiqiu:before {
  content: "\e6de";
}

